body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #bb8c2e; /* Replace 'your-color' with your desired background color */
    
}
.about-border{
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
    
}
.main-about{
    margin-bottom: 300px;
}

.navbar {
    background-color: #bb8c2e;
    /* color: white; */
    text-align: center;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

/* .nav-item:last-child {
    margin-right: 0;
} */

.nav-item a {
    text-decoration: none;
    padding: 10px 20px;
    height: 5ex;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}


.main-about ul li {
    list-style: none;
    margin-bottom: 50px;
}



.main-about ul li .about-details {
    display: inline-block; /* Display the text next to the image */
    vertical-align: top; /* Align text to the top of the image */
    width: calc(100% - 110px); /* Calculate the width for the text (total width minus image width and margin) */
}