body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #bb8c2e, #d1baa0); /* background color */
    
}
.info-border{
    border: 2px solid black;
    margin: 20px;
    border-radius: 10px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 50px; 
    padding: 15px 0;
    
    
}

.navbar {
    background-color: #bb8c2e;
    /* color: white; */
    text-align: center;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

/* .nav-item:last-child {
    margin-right: 0;
} */

.nav-item a {
    text-decoration: none;
    padding: 10px 20px;
    height: 5ex;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.button-navbar-item {
    background-color: #bb8c2e;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none; /* Remove underlines for links */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-navbar-item:hover {
    background-color: darkgray;
  }