body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background color*/
  background: linear-gradient(135deg, #bb8c2e, #d1baa0);
}
.exp-border {
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
}
.main-experience {
  margin-bottom: 300px;
}

.navbar {
  background-color: #bb8c2e;
  text-align: center;
  padding: 10px 0;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  padding: 10px 20px;
  height: 5ex;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}
.button-navbar-item {
  background-color: #bb8c2e;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  /* Remove underlines for links */
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-navbar-item:hover {
  background-color: darkgray;
}

.main-experience ul li {
  list-style: none;
  margin-bottom: 50px;
}

.main-experience ul li img {
  width: 90px;
  height: 90px;
  /* Float the image to the left */
  float: left;
  /* spacing between the image and text */
  margin-right: 20px;
}

/* Set the initial position of the image */
.image-container {
  position: relative;
}

@keyframes moveImage {
  0% {
    left: 0;
    bottom: 0;
    transform: translateY(0);
  }
  20% {
    left: 20%;
    bottom: 0;
    transform: translateY(0);
  }
  30% {
    left: 30%;
    bottom: 0%;
    transform: translateY(0);
  }
  50% {
    left: 50%;
    bottom: 10%;
    transform: translateY(0);
  }
  70% {
    left: 70%;
    bottom: 50%;
    transform: translateY(-30px);
  }
  80% {
    left: 80%;
    bottom: 50%;
    transform: translateY(0);
  }
  100% {
    left: 100%;
    bottom: 50%;
    transform: translateY(0);
  }
}

#moving-image {
  position: absolute;
  width: 50px;
  height: auto;
  animation: moveImage 5s linear infinite;
}
